.coaches {
  background-color: $color-default-white;
  color: $color-dark;
  padding-top: 50px;
  padding-bottom: 90px;

  @include vp-1199 {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.coaches .container {
  max-width: 1320px;
}

.coaches__wrapper {
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding-left: 55px;
    padding-right: 25px;
  }

  @include vp-767 {
    padding: 0 30px;
  }
}

.coaches__wrapper h2 {
  font-family: "Alumni Sans", "Tahoma", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  margin-bottom: 48px;
  letter-spacing: 2px;
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 31px;
    align-self: center;
    padding-right: 34px;
    letter-spacing: 1.7px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    padding-right: 5px;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }
}

.coaches__item {
  position: relative;

  &:hover .coaches__description,
  &:focus .coaches__description {
    visibility: visible;
    opacity: 1;
  }

  &:hover figcaption,
  &:focus figcaption {
    opacity: 0;
  }

  @include vp-1199 {
    &:hover .coaches__description {
      visibility: hidden;
      opacity: 0;
    }

    &:hover figcaption {
      opacity: 1;
    }

    &:active figcaption,
    &:focus figcaption {
      opacity: 0;
    }

    &:active .coaches__description,
    &:focus .coaches__description {
      visibility: visible;
      opacity: 1;
    }
  }
}

.coaches__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coaches__item figcaption {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  color: $color-default-white;
  width: 100%;
  text-align: center;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in;
}

.coaches__description {
  display: block;
  flex-direction: column;
  position: absolute;
  align-items: center;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  padding: 52px 47px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: overlay;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;

  @include vp-1199 {
    padding: 52px 50px;
  }

  @include vp-767 {
    padding: 43px 30px;
  }
}

.coaches__description h3 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.coaches__description span {
  display: block;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #b6bdcc;
  margin-bottom: 35px;
  text-align: center;
}

.coaches__description ul {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
}

.coaches__description li {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 13px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
    top: 7px;
    left: -15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
