.free-lesson {
  background-color: #102654;
  color: $color-default-white;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 70px;
  display: flex;
  align-self: flex-start;

  @include vp-1199 {
    padding-top: 60px;
    padding-bottom: 65px;
  }

  @include vp-767 {
    padding-top: 63px;
  }
}

.free-lesson__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 170px;
  width: 410px;

  @include vp-1199 {
    width: 100%;
    margin-right: 163px;
    margin-left: 133px;
  }

  @include vp-767 {
    margin: 0 15px;
  }
}

.free-lesson__wrapper h2 {
  font-family: "Alumni Sans", "Tahoma", sans-serif;
  font-weight: 800;
  font-size: 54px;
  line-height: 84px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;

  @include vp-1199 {
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }
}

.free-lesson__form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.free-lesson__form div {
  position: relative;
}

.free-lesson__form input {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #74819c;
  margin-bottom: 25px;

  @include vp-1199 {
    margin-bottom: 30px;
  }
}

.free-lesson__form input::placeholder {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.free-lesson__form button {
  font-size: 14px;
  line-height: 16px;
  border-width: 3px;
  letter-spacing: 1px;
  padding-top: 19px;
  grid-column: 1/-1;

  @include vp-1199 {
    padding-top: 15px;
  }

  @include vp-767 {
    margin-top: 10px;
    grid-column: auto;
  }
}

.free-lesson__message {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.is-valid .free-lesson__message {
  color: #15ab07;
}
